<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletTest01</display-name>
    <servlet-name>ServletTest01</servlet-name>
    <servlet-class>ch04_servlet.ServletTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest01</servlet-name>
    <url-pattern>/ServletTest01</url-pattern>
  </servlet-mapping>
  <display-name>ch04_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletTest02</display-name>
    <servlet-name>ServletTest02</servlet-name>
    <servlet-class>ch04_servlet.ServletTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest02</servlet-name>
    <url-pattern>/ServletTest02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServlet03</display-name>
    <servlet-name>GetServlet03</servlet-name>
    <servlet-class>ch04_servlet.GetServlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet03</servlet-name>
    <url-pattern>/GetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet04</display-name>
    <servlet-name>PostServlet04</servlet-name>
    <servlet-class>ch04_servlet.PostServlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet04</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet05</display-name>
    <servlet-name>LoginServlet05</servlet-name>
    <servlet-class>ch04_servlet.LoginServlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet05</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>